/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {min-height: 200px;margin-bottom: 20px;padding-top: 70px;}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {z-index: 10;color:#CCCCCC;}
/* Declare heights because of positioning of img element */
.carousel .item {min-height: 200px;}
.carousel .item .fond1, .fond1 {background-image: url(../img/fonds/fond.jpg) !important; background-position: center top; background-repeat: repeat; min-height: 200px;}
.carousel .item .fond2, .fond2 {background-image: url(../img/fonds/fond-2.jpg) !important; background-position: center top; background-repeat: repeat; min-height: 200px;}
#tops {background-image: url(../img/fonds/fond.jpg); background-position: center top; background-repeat: repeat;}
div#une .carousel-control{width:7%;}
div#une .carousel-inner .item {margin:0% 7% 0% 7%;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);color: #cccccc !important;}
div#une p.lead{color: #DDDDDD;}
.carousel-control {filter: alpha(opacity=10);opacity: .1;}
.carousel-control:hover,.carousel-control:focus {filter: alpha(opacity=40);opacity: .4;}
div#une span.glyphicon.glyphicon-circle-arrow-left, div#une span.glyphicon.glyphicon-circle-arrow-right{top:50px;}
/* tops */
div#tops{min-height: 150px;padding-top: 100px;margin-bottom: 20px;}
div#top h1{text-shadow: 0 1px 2px rgba(0, 0, 0, .6);}